{:itonami.blueprint/id "cloud-itonami-isic-9000"
 :itonami.blueprint/name "Creative, arts and entertainment activities"
 :itonami.blueprint/isic-rev5 "9000"
 :itonami.blueprint/domain :recreation/creative-arts
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:cultural-access :data-sovereignty :transparency]
 :itonami.blueprint/governor :content-and-booking-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies []
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true}
