{:kotoba.app/id "cloud.itonami.isic-9000", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicnzaectr2q6etgic3lfooc5bagq6zwnoi3p7ukaxo4seri327wdm", :kotoba.app/embed-url "ipfs://bafkreicnzaectr2q6etgic3lfooc5bagq6zwnoi3p7ukaxo4seri327wdm", :published {:archive "https://kotobase.net/ipfs/bafkreicnzaectr2q6etgic3lfooc5bagq6zwnoi3p7ukaxo4seri327wdm", :size 74810, :put-status 201, :get-status 200, :at "2026-08-15T13:41:15.904Z"}}
